{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>


<div class="card">
    <form action="{% url 'product:list.product' %}" method="POST" class="card-header">
                        {% csrf_token %}

        <div class="form-row justify-content-between">
            <div class="col-md-2">
                <input type="text" name="title" placeholder="Product Title" value="{{ values.title }}" class="form-control">
            </div>
            <div class="col-md-2">
                <select name="variant" id="" class="form-control">
                    <option selected="true" disabled="disabled">--Select A Variant--</option>

                    {% for v in varient_list %}
                    <option value="{{ v.variant.title }}"
                            selected
                    >{{ v.variant.title }}</option>
                  {% endfor  %}

                </select>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price Range</span>
                    </div>
                    <input type="number" name="price_from"  value="{{ price_from }}" aria-label="First name" placeholder="From"
                           class="form-control">
                    <input type="number" name="price_to" value="{{ price_to }}" aria-label="Last name" placeholder="To" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <input type="date" name="date" placeholder="Date" class="form-control">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="card-body">
        <div class="table-response">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Variant</th>
                    <th width="150px">Action</th>
                </tr>
                </thead>

                <tbody>

                {% if listings %}
                    {% for listing in listings %}


                         <tr>
                    <td>{{ listing.id}}</td>
                    <td>{{ listing.product.title}}<br> Created at : {{ listing.created_at}}</td>
                    <td>{{ listing.product.description}}</td>
                    <td>
                        <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant">

                            <dt class="col-sm-3 pb-0">
                                {{  listing.product_variant_one.variant_title }}
                                <br>
                                {{  listing.product_variant_two.variant_title }}
                                <br>
                                {{  listing.product_variant_three.variant_title }}

                            </dt>
                            <dd class="col-sm-9">
                                <dl class="row mb-0">
                                    <dt class="col-sm-4 pb-0">Price : {{ listing.price }}</dt>
                                    <dd class="col-sm-8 pb-0">InStock : {{ listing.stock }}</dd>
                                </dl>
                            </dd>
                        </dl>
                        <button onclick="$('#variant').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                        </button>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{{ listing.id }}" class="btn btn-success">Edit</a>
                        </div>
                    </td>
                </tr>

                    {% endfor  %}

                {% else %}
                <p>No Listing Available</p>

                {% endif %}

                </tbody>

            </table>
        </div>

    </div>

    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p>Showing 1 to 10 out of 100</p>
            </div>
            <div class="col-md-2">



      <div class="row">
        <div class="col-md-12">

          {% if listings.has_other_pages %}
            <ul class="pagination">
              {% if listings.has_previous %}
                <li class="page-item">
                  <a href="?page={{ listings.previous_page_number }}" class="page-link">&laquo;</a>
                </li>
                {% else %}
                  <li class="page-item disabled"></li>
                  <a class="page-link">&laquo;</a>
              {% endif  %}



              {% for i in listings.paginator.page_range %}
                {% if listings.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>

                  </li>
                {% endif %}
              {% endfor  %}


            {% if listings.has_next %}
              <li class="page-item">
                <a href="?page={{ listings.next_page_number }}" class="page-link">&raquo;</a>
              </li>
              {% else %}
                <li class="page-item disabled"></li>
                <a class="page-link">&raquo;</a>
            {% endif  %}


            </ul>
          {% else %}
          {% endif %}

        </div>
      </div>




            </div>
        </div>
    </div>
</div>
{% endblock %}